# ArtInChip USB Display / eM3499-Monitor userspace access.
SUBSYSTEM=="usb", ATTR{idVendor}=="33c3", ATTR{idProduct}=="0e02", MODE="0666", TAG+="uaccess"
